body{
    font-family: "Trebuch MS", Helvetica, sans-serif;
}

table{
    width: 600px;
    border-collapse: separate; /* COLLAPSE - fica uma grudada na outra */
    /* SEPARATE - "separa" as bordas */
}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase ; /* deixa as letras maiusculas */
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em; /* espaçamento maior entre as letras */
}

tr.alternado{
    background-color: #efefef;
}

tr:hover{
    background-color: #598ef8;
}

.numro{
    text-align: right;
}






























