body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset{
    padding: 1em;
    margin: 1em /* <- topo  -> laterais*/ 0;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input[type="text"]/* apenas atributos com "type=text" será modificado */{
    width: 20em; /* 300px */
    border-radius: 5px;
}

textarea{
    border-radius: 5px;
    width: 20em;
    height: 10em;
}

/* 
input.radio, input.checkbox, input.submit{
    width: auto;
} */

.radio{
    margin-right: 1em;
}








