/* layout liquido utiliza porcentagens para definir o tamanho dos componentes
 */

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 85%;
	margin: 0 auto;
	background: #fff;
    min-width: 720px; /* define o tamanho minímo */
    max-width: 960px;  /*define o tamanho máximo */
}

#marca{
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 74% ; /* 520 + 180 = 700px  | 520-> 74.28 */
	float: right;
}

#conteudo-principal {
	width: 63%; /* 320+180=500px | 320.100/500= 64%*/
	float: left;
}

#conteudo-secundario {
	width: 34%; /* 180px -> 36 */
	float: right;
	background: #d1d1d1;
}

#conteudo-secundario h1, 
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao {
	width: 23%; /* 180px -> 25.71 */
	float: left;
	padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

