.caixa{
    width: 400px;
    background: #dedeed url(../img/fundo-arredondamento.png) repeat-y /* repete na vertical */;
}

.caixa h2{
    padding: 20px 10px 0 20px;
    background: url(../img/topo2.png) no-repeat left top;
}
.caixa p{
    padding: 0 20px/* laterais esquerda e direita */;
    margin-bottom: 0;
}

.caixa .ultimo{
    background: url(../img/baixo2.png) no-repeat left bottom; /* vai ficar na esquerda, parte inferior */
    width: 400px;
    height: 24px;
}

/* .caixa {
    width: 400px;
    background: #dedeed url(../img/topo2.png) no-repeat left top;
    
}

.caixa h2{
    padding: 20px 10px 0 20px;
}

.caixa p{
    background: url(../img/baixo2.png) no-repeat left bottom;
    padding: 0 20px 20px 20px;
} */