*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: #fff url(../Aula-15/imagens/fundo.png) repeat-x /* repete horizontal */;
}

#container{
    width: 750px;
    margin: 0 auto;    
}

#topo{
    height: 150px;
    background: url(../Aula-15/imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 20px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../Aula-15/imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}


/* barra navegação */

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em; 
    text-decoration: none;
    color: white;
    background: url(../Aula-15/imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body#home #navegacao .home,
body#brasil #navegacao .brasil,
body#internacional #navegacao .internacional,
body#fotos #navegacao .fotos{
    color: white;
    background: #de003e;
    cursor: text;
}


#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

.lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/* .tres-colunas .primario{
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
} */

.primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

.duas-colunas .primario{
    width: 555px;
  
}

.uma-coluna .primario{
    width: 750px;
    margin: 0 0 20px 0;
    
}

.secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* caixa */

.caixa{
    margin: 10px 0;
    padding: 5px/* superior */ 0/* lateral */ 5px 0 ;
    background: #f3f3f3 url(../Aula-15/imagens/fundo-caixa.png);
}

h2{
    font-size: 1.2em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 20px;
    margin-top: 5px;
}

/* formatar menu lateral */

.lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

.lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(../Aula-15/imagens/marcador.png) no-repeat left center;
    padding-left: 20px ;
}

/* formatando fomularios */

label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background: white;
}

input.submit{
    width: 80px;
    background-color: #b10333;
    color: white;
    border: 2px solid #870529;
    padding: 5px;
}

input.submit:hover{
    background-color: #da295b;
}


/* formatando Imagens */
img{
    border: 2px solid #dfdfdf;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* formatando cabeçalhos */
h3{
    font-size:0.8em;
    text-transform: uppercase;
    display: inline;
    padding: 3px;
}


.destaque h3{
    background: #b10333;
    color: white;
}

.entrevista h3{
    background: #b10333;
    color: white;
}

/* formatando lista de entrevista */

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 98px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.9em;
    padding: 0;
    color: blue;
}

#lista-noticias li a p{
    font-size: 0.8em;
    color: #000;
}

#lista-noticias li:hover{
background: #aaaaaa;
cursor: pointer;
}

/* barra de navegação */
a:link, a:visited{
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


/* rodape */
#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: white;
}



























































