@font-face {
    font-family: "Sketsa Ramadhan Alternates";
    src: url(../Aula-18/fonts/Sketsa\ Ramadhan\ Alternates.ttf);   
}

@font-face {
    font-family: "OldLondonAlternate";
    src: url(../Aula-18/fonts/OldLondonAlternate.ttf);   
}

@font-face {
    font-family: "Scary";
    src: url(../Aula-18/fonts/Scary\ Halloween\ Font.ttf);   
}


h1{
    font-size: 6em;
    font-family: Scary;
}











