/* ul{
    
    list-style-type: none; /* remove as bolinhas 
    margin: 0;
    padding: 0; /* espaçamento 
}

li{
    padding: px 20px;
    background: url(../img/seta.png) left center;
    background-repeat: no-repeat;
} */

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ul a{
    /* border: 1px solid red; 
    width: 200px;
    height: 40px;    
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px; /* empurra o texto 
    line-height: 40px; /* altura da linha / fonte 
    background: url(../img/menu.png) no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    color: white;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}
 */



 ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../img/fundo-horizontal.png) repeat-x /* repete a imagem na horizontal */;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) repeat-y/* repeta na vertical */ left top;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background-color:#44cade;
    transition: 0.4s;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
    background-position: right bottom;
    color: white;
}


